


@{
    ViewBag.Title = "Danh mục LL Trục";


}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b>SEARCH</b>
                        </h3>
                    </div>
                    <div class="card-body pad">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Từ ngày</label>
                                    <input value="@DateTime.Now.AddDays(-7).ToString("dd/MM/yyyy")"
                                           class="form-control" type="text" autocomplete="off"
                                           id="tuNgay" name="tuNgay" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Ngày</label>
                                    <input value="@DateTime.Now.ToString("dd/MM/yyyy")"
                                           class="form-control" type="text" autocomplete="off"
                                           id="denNgay" name="denNgay" />
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <button id="btnSearch" type="button" class="btn bg-gradient-primary"><i class="fa fa-search"></i> Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-body pad">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-md-4">
                                <button id="btInsert" type="button" class="btn bg-gradient-success"><i class="fa fa-plus"></i>&nbsp;Thêm mới</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 table-body table-responsive">

                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div><!-- /.container-fluid -->
</section>

<div id="myModal" class="modal fade modal-wide" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frm", id = "frm", enctype = "multipart/form-data" }))
            {
                <div class="modal-header">
                    <div class="modal-title" style="font-size: 17px;text-transform:uppercase;color:#3c8dbc"><strong id="myModalTitle"></strong></div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="myModalContent">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-right">
                        <button type="button" id="btSave" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Lưu</button>

                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id="ModalDetail" class="modal fade modal-wide" role="dialog" style="overflow:auto">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frmDetail", id = "frmDetail", enctype = "multipart/form-data" }))
            {
                <div class="modal-header">
                    <div class="modal-title" style="font-size: 17px;text-transform:uppercase;color:#3c8dbc"><strong id="ModalTitleDetail"></strong></div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="ModalContentDetail">

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-right">
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>&nbsp;

                        <button type="button" id="btPrint" onclick="javascript:CallPrint('ModalContentDetail');" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-print"></i>&nbsp;In file</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script language="javascript" type="text/javascript">
        function CallPrint(strid) {
            var prtContent = document.getElementById(strid);
            var WinPrint = window.open();
            WinPrint.document.write(prtContent.innerHTML);
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            WinPrint.close();
            prtContent.innerHTML = strOldOne;
        }
    </script>
    <script type="text/javascript">
        var config = {
            '.chosen-select-search': {},
            '.chosen-select-search-deselect': { allow_single_deselect: true },
            '.chosen-select-search-no-single': { disable_search_threshold: 10 },
            '.chosen-select-search-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-search-width': { width: "95%" },
            'search_contains': true
        }
        for (var selector in config) {
            $(selector).chosen(config);
        }

        $("#tuNgay").datepicker({
            format: 'dd/mm/yyyy',
            changeYear: true,
            changeMonth: true,
            onClose: function (selectedDate) {
                //$("#FromDate").datepicker("option", "minDate", selectedDate);
            }
        });

        $("#denNgay").datepicker({
            format: 'dd/mm/yyyy',
            changeYear: true,
            changeMonth: true,
            onClose: function (selectedDate) {
                //$("#FromDate").datepicker("option", "minDate", selectedDate);
            }
        });
    </script>
    <script>
        function reloadData(page) {
            try {
            $.ajax({
                url: '@Url.Action("_GetList")',
                timeout: 200000,
                data: {
                    tuNgay: $("#tuNgay").val(),
                    denNgay: $("#denNgay").val(),
                },
                beforeSend: function () {
                    $(".divLoading").addClass("loading");
                },
                success: function (response) {
                    $(".divLoading").removeClass("loading");

                    $('.table-body').html(response);

                    $("#myTable").DataTable({
                        "responsive": true,
                        "lengthChange": true,
                        "autoWidth": true,
                        "stateSave": true,
                        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                        "initComplete": function (oSettings) {

                        }
                    });
                },
                error: function (message) {
                    $(".divLoading").removeClass("loading");
                }
            });
            } catch (e) {
            }
        }

        function Remove(Id_, Index_) {
            $('#row_' + Index_).attr("style", "display:none");

            $('#Detail_' + Index_ + '_Delete').val(true);
        }


        function InBienBan(CTVAITP_MATRUC_) {
            try {
            $.ajax({
                url: '@Url.Action("_InBienBan")',
                timeout: 2000000,
                data: {
                    CTVAITP_MATRUC: CTVAITP_MATRUC_
                },
                beforeSend: function () {
                    $(".divLoading").addClass("loading");
                },
                success: function (response) {
                    $(".divLoading").removeClass("loading");

                    $ModalContentDetail.html(response);

                    $modalDetail.modal();

                    $ModalTitleDetail.html('In báo cáo');
                },
                error: function (message) {
                    $(".divLoading").removeClass("loading");
                }
            });
            } catch (e) {
            }
        }
    </script>

    <script type="text/javascript">
        var $modal = $('#myModal');
        var $myModalContent = $("#myModalContent");
        var $myModalTitle = $("#myModalTitle");

        var $mymodalDetail = $('#myModalDetail');
        var $myModalContentDetail = $("#myModalContentDetail");
        var $myModalTitleDetail = $("#myModalTitleDetail");


        var $modalDetail = $('#ModalDetail');
        var $ModalContentDetail = $("#ModalContentDetail");
        var $ModalTitleDetail = $("#ModalTitleDetail");


        var $modalUploadCT = $('#myModalUploadCT');
        var $myModalContentUploadCT = $("#myModalContentUploadCT");
        var $myModalTitleUploadCT = $("#myModalTitleUploadCT");

        $(document).ready(function () {
            reloadData(false);

            $("#btSave").click(function () {
                form = $("#frm");
                form.removeData('validator');
                form.removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse("#frm");
                if (form.valid()) {
                    $.ajax({
                        url: $("#MAMAU").val() == '@string.Empty' ? '@Url.Action("_InsertFun")' : '@Url.Action("_EditFun")',
                        type: "POST",
                        data: $('#frm').serialize(),
                        beforeSend: function (xhr) {
                            $(".divLoading").addClass("loading");
                        },
                        success: function (result) {
                            if (result.status >= 1) {
                                notify(result.text, "success");
                            }
                            else {
                                notify(result.text, "error");
                            }
                            $(".divLoading").removeClass("loading");
                        },
                        error: function (message) {
                            $(".divLoading").removeClass("loading");
                        }
                    });
                }
            });





            $("#btInsert").click(function () {
                $myModalContent.html("");
                $myModalTitle.html("Thêm mới");
                $.ajax({
                    url: '@Url.Action("_DetailForEdit")',
                    timeout: 200000,
                    data: {
                        CTVAITP_MATRUC: '@string.Empty'
                    },
                    beforeSend: function (xhr) {
                        $(".divLoading").addClass("loading");
                    },
                    success: function (result) {
                        $myModalContent.html(result);
                        $modal.modal();
                        $(".divLoading").removeClass("loading");
                    },
                    error: function (message) {
                        $(".divLoading").removeClass("loading");
                    }
                });
            });

            $("#myModal").on("hidden.bs.modal", function () {
                reloadData(false);
            });

            $("#myModalDetail").on("hidden.bs.modal", function () {
                reloadData(false);
            });
            $("#ModalDetail").on("hidden.bs.modal", function () {
                reloadData(false);
            });

            $("#btnSearch").click(function () {
                reloadData(true);
            });


        });


    </script>

}





