@{
    var Lists = ViewBag.List as IEnumerable<ToolsApp.EntityFramework.QUANLYNHANSU.Menu>;
}

<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>.No</th>
            <th>Menu Name</th>
            <th>Parent</th>
            <th>Page</th>
            <th>Icon</th>
            <th>Order No</th>
        </tr>
    </thead>
    <tbody>
        @{ var STT = 1; }
        @foreach (var item in Lists)
        {
            <tr>
                <td style="max-width:40px!important">
                    <a onclick="Edit('@item.Id')" class="btn">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a onclick="Delete('@item.Id')" class="btn">
                        <i class="far fa-trash-alt"></i> Delete
                    </a>
                </td>
                <td>
                    @STT
                </td>
                <td>@item.MenuName</td>
                <td>
                    @(item.QLKTP_Menu2!=null ? item.QLKTP_Menu2.MenuName:"Root" )
                </td>
                <td>
                    @(item.QLKTP_Page != null ? item.QLKTP_Page.Info:"" )
                </td>
                <td>@Html.Raw(item.Icon)</td>
                <td>@item.OrderNo</td>
            </tr>

            STT++;
        }
    </tbody>
</table>